<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<style>
    body {
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        line-height: 24px;
        background: cadetblue;
        color: white;
    }
</style>

<div>
    <h1>403 - ACCESS DENIED</h1>
    <h3>Oops, You don't have permission to access this page.</h3>
</div>

